:root {
  /* colors  */
  --pink: hsl(322, 100%, 66%);
  --very-pale-cyan: hsl(193, 100%, 96%);
  --very-dark-cyan: hsl(192, 100%, 9%);
  --grayish-blue: hsl(208, 11%, 55%);
  --ff-poppins: "Poppins", sans-serif;
  --ff-open-sans: "Open Sans", sans-serif;
}
body {
  font-family: var(--ff-poppins);
  font-family: var(--ff-open-sans);
  font-size: 1.125rem;
  font-weight: 400;
}

.wrapper {
  margin: 0 auto;
}
.container {
  margin: 0 auto;
  width: 575px;
  max-width: 100%;
  padding: 0 1.5rem;
}
/* button  */
.btn {
  border: none;
  border-radius: 50rem;
  text-decoration: none;
}
/* card  */
.card {
  border: none;
  border-radius: 0.5rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 2.5rem;
  text-align: center;
}

/* Header  */
.header {
  position: relative;
}
.bg-desk {
  display: none;
}
.bg-mob {
  display: inline-flex;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: var(--very-pale-cyan);
  background-repeat: no-repeat;
  background-position: cover;
}
.header-content {
  padding-block: 2rem;
}
/* navigation bar  */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 4.5rem;
}
.logo {
  width: 100px;
}
.nav-btn {
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 0.25rem 2rem;
  font-size: 0.9em;
  font-weight: 700;
  color: var(--very-dark-cyan);
}
.nav-btn:hover {
  color: var(--grayish-blue);
}
/* hero section */
.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.5rem;
}
.hero-text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  text-align: center;
  color: var(--very-dark-cyan);
}
.hero-title {
  font-size: 1.7em;
  font-weight: 700;
  margin: 0;
}
.hero-text {
  font-size: 1em;
  margin: 0;
}
.hero-btn {
  background-color: var(--pink);
  color: white;
  width: 80%;
  margin: 0 auto;
  padding: 0.5rem;
  font-size: 1em;
  font-weight: 700;
}
.hero-btn:hover {
  background-color: hsla(322, 100%, 66%, 0.5);
  color: hsla(193, 100%, 96%, 0.7);
}
.hero-img-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.hero-img {
  width: 300px;
}

/* main section  */

.main {
  margin-block: 5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.card-img-content {
  width: 100%;
}
.card-img {
  width: 90%;
}
.grow-together,
.flowing-conversation,
.your-users {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.card-text-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}
.card-title {
  font-size: 1.3em;
  font-weight: 700;
  margin: 0;
  color: var(--very-dark-cyan);
}
.card-text {
  font-size: 0.9em;
  color: var(--grayish-blue);
}
/* invitation card  */
.invitation-content {
  position: relative;
  margin: 0 auto;
  width: 575px;
  height: 100px;
  max-width: 100%;
  display: flex;
  justify-content: center;
}
.invitation-card {
  position: absolute;
  z-index: 3;
  padding: 1.3rem;
  bottom: -8.7rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.invitation-headline {
  font-size: 1.1em;
  font-weight: 700;
}
.invitation-btn {
  background-color: var(--pink);
  padding: 0.675rem;
  width: 70%;
  margin: 0 auto;
  color: white;
  font-size: 0.75em;
  font-weight: 700;
}
.invitation-btn:hover {
  background-color: hsla(322, 100%, 66%, 0.5);
  color: hsla(193, 100%, 96%, 0.7);
}
/* footer  */
.footer {
  background-color: var(--very-dark-cyan);
  color: white;
  padding-block: 8rem;
}
.footer-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.footer-logo {
  width: 150px;
}
.footer-details {
  display: grid;
  gap: 2.5rem;
}
/* footer infos  */
.footer-infos {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: flex-start;
}
.footer-address-content {
  display: flex;
  gap: 0.75rem;
}

.footer-address-icon {
  display: flex;
  justify-content: center;
}
.fa-solid {
  height: 30px;
  width: 30px;
  margin-top: 0.25rem;
}
.footer-address {
  margin: 0;
  font-size: 0.9em;
}
/* footer navbar  */
.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 1rem;
}
.nav-item:hover {
  text-decoration: underline;
}
/* footer social icons */
.footer-social-icons {
  display: flex;
  gap: 1.5rem;
  margin: 0 auto;
}
.social-icon {
  width: 2.5rem;
  height: 2.5rem;
  border: 2px solid white;
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}
.social-icon:hover {
  color: var(--pink);
  border: 2px solid var(--pink);
}
.copyright {
  text-align: center;
  font-size: 0.75em;
}
